---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import type { BlogSchemaType } from '../../content.config';

interface PostType {
  id: string;
  collection: 'blog';
  data: BlogSchemaType;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: PostType) => ({
    params: { id: post.id },
    props: { post },
  }));
}

interface Props {
  post: PostType;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  imageName={post.data.imageName}
  isTextPrimary={true}
>
  <h1>{post.data.title}</h1>
  <p>
    Posted on {post.data.date.toLocaleDateString()}
  </p>
  <Content />
</BaseLayout>
