---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/Blogs/PostCard.astro';
import CardsContainer from '../../components/Blogs/CardsContainer.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BaseLayout
  title="Blogs"
  isTextPrimary={false}
>
  <div class="my-4 flex flex-col items-center justify-center">
    <h1>My blogs</h1>
    <p>
      Here are the blogs I wrote in my spare time. Don't take them too seriously
      :)
    </p>
  </div>
  <CardsContainer>
    {
      posts.map((post) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          imageName={post.data.imageName ?? 'default-image.png'}
          date={post.data.date}
          url={`/blog/${post.id}`}
        />
      ))
    }
  </CardsContainer>
</BaseLayout>
